**Variables categorícas**
-
---

| catergoria | Dummy | One-hot |
|-|-|-|
| ingles | [0,0] | [1,0,0] |
| español | [0,1] | [0,1,0] |
| frances | [1,0] | [0,0,1] |

In [7]:
# %%
import numpy as np
import pandas as pd
import seaborn as sns
# %%
df = pd.read_csv("./resources/cars.csv")

#### **_One hot_ en _pandas_**

In [2]:
pd.get_dummies(df.engine_type)

       diesel  electric  gasoline
0           0         0         1
1           0         0         1
2           0         0         1
3           0         0         1
4           0         0         1
...       ...       ...       ...
38526       0         0         1
38527       1         0         0
38528       0         0         1
38529       0         0         1
38530       0         0         1

[38531 rows x 3 columns]

#### **_One hot_ en _sklearn_**

In [8]:
import sklearn.preprocessing as preprocessing
encoder = preprocessing.OneHotEncoder(handle_unknown='ignore')

In [24]:
encoder.fit(df[['engine_type']].values)

OneHotEncoder(handle_unknown='ignore')

In [12]:
encoder.transform([['gasoline'], ['diesel'], ['aceite']]).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 0.]])

In [26]:
encoder.fit(df[['year_produced']].values)

OneHotEncoder(handle_unknown='ignore')

In [27]:
encoder.transform([[2011]]).toarray()

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.]])